# Ignorar dependências, pois serão instaladas dentro do container
node_modules

# Ignorar arquivo de ambiente, pois será injetado pelo Docker Compose
.env

# Ignorar logs e arquivos do Git
npm-debug.log
.git
.gitignore